<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="redis" 
             type="NHibernate.Caches.Redis.RedisSectionHandler, NHibernate.Caches.Redis" />
    <section name="hibernate-configuration"
         type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
  </configSections>
  <redis>
    <redis host="142.223.144.62" port="6379"/>
  </redis>
  <hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
    <session-factory>
      <property name="connection.provider">NHibernate.Connection.DriverConnectionProvider, NHibernate</property>
      <property name="dialect">NHibernate.Dialect.MsSql2000Dialect</property>
      <property name="connection.driver_class">NHibernate.Driver.SqlClientDriver</property>
      <property name="connection.connection_string">
        Server=localhost;initial catalog=nhibernate;Integrated Security=SSPI

      </property>
      <property name="connection.isolation">ReadCommitted</property>
      <property name="cache.provider_class">NHibernate.Caches.Redis.RedisProvider,NHibernate.Caches.Redis</property>
    </session-factory>
  </hibernate-configuration>
  
</configuration>
